@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
	width: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	height: 100%
	.header
		position: relative

.header
	width: 100%
	background-color: rgba(0,0,0,0.9)
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	position: absolute
	z-index: 3
	.avatar
		color: #fff
		font-size: 15px
		width: 120px
		background-color: #fa0
		color: #000
		text-align: center
		margin: 0 10px
	ul
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		margin: 0 10px
		padding: 0
		li
			display: inline-block
			list-style-type: none
			margin: 0
			padding: 0
			margin-right: 10px
			text-align: center
			height: 100%
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			align-items: center
			a
				font-size: 20px
				margin: 0
				padding: 5px 10px
				color: #fff
			a:hover
				text-decoration: none
				background-color: #fa0
				color: #000
		li:last-child
			margin-right: 0

.index
	height: 100%
	background-image: url(../img/title_img.jpg)
	background-position: center center
	background-repeat: no-repeat
	position: relative
	z-index: 0
	overflow: hidden
	.title_div
		position: absolute
		z-index: 2
		margin: 5% 10%
		width: 200px
		span
			color: #fff
			font-size: 65px
			text-shadow: 1px 1px 1px #fff

.index:after
	content: ""
	position: absolute
	z-index: 1
	width: 100%
	height: 100%
	background-color: rgba(0,0,0,0.6)

.slide
	overflow: hidden
	padding: 20px 0
	max-width: 900px
	margin: 0 auto
	position: relative
	z-index: 4
	.slide_header
		width: 100%
		.slide_title
			width: 100%
			text-align: center
			font-size: 20px
		span
			display: block
			width: 60%
			border-bottom: 1px solid black
			margin: 0 auto
	.dostoinstva_div
		margin-top: 10px
		padding: 10px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-around
		.dostoinstva_item
			text-align: center
			border: 1px solid black
			padding: 10px
			width: 200px
			margin: 10px 5px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			justify-content: space-around
			align-items: center
			.icon
				display: inline-block
				border-radius: 50%
				padding: 5px 15px
				color: black
	.o_nas_div
		padding: 10px
.footer
	margin: 0
	padding: 0
	width: 100%
	background-color: #000
	padding: 10px 0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-around
	ul
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		margin: 0
		padding: 10px
		width: 200px
		li
			list-style-type: none
			margin: 0
			padding: 0
			color: #fa0
			a
				color: #fa0
			a:hover
				color: #fff
				text-decoration: none
	.copyright
		width: 100%
		color: #fff
		margin-top: 20px
		margin-left: 10px
	.metrics
		display: block
		width: 100%
		padding: 10px
		text-align: center

.page_content
	.slide
		overflow: hidden
		padding: 20px 0
		max-width: 900px
		margin: 0 auto
		position: relative
		z-index: 4
		.slide_header
			width: 100%
			.slide_title
				width: 100%
				text-align: center
				font-size: 20px
			span
				display: block
				width: 60%
				border-bottom: 1px solid black
				margin: 0 auto
	.contacts_item
		margin: 20px 0
		.item_header
			padding: 5px
			h3
				display: inline-block
				border-bottom: 1px dashed black
				padding: 0 10px
				margin-bottom: 5px
		.item_content
			padding: 5px
			span
				display: block
			.item
				padding: 20px 5px
				background-color: #eee
				margin-bottom: 5px
				.title_item
					font-size: 18px
					display: inline-block
					margin: 0
			.item:last-child
				margin-bottom: 0
	.contacts_list
		.contacts_item
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: flex-start
			width: 100%
			margin: 20px 0
		.item_header
			padding: 5px
			h3
				display: inline-block
				border-bottom: 1px dashed black
				padding: 0 10px
				margin-bottom: 5px
		.item_content
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: space-around
			padding: 5px
			span
				display: block
			.item
				padding: 20px 5px
				background-color: #eee
				margin-bottom: 5px
				.title_item
					font-size: 18px
					display: inline-block
					margin: 0
			.item:last-child
				margin-bottom: 0
			.img_prev
				max-width: 400px
				height: 300px
			.description_div
				background-color: #eee
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
				justify-content: space-around
				align-items: stretch
				ul
					margin-right: 30px
					padding: 10px
					li
						list-style-type: none
						a
							font-weight: bold
							color: #666
							text-shadow: 1px 1px 1px #fa0
							font-size: 18
						a:hover
							color: #000
							text-decoration: none
@import "media" // Всегда в конце
